/* СТРАНИЦА */
body {background: url(/darksite/images/bg-mob.jpg) no-repeat #15151D; background-size: cover; background-position: center; background-attachment: fixed;; overflow-x: auto; padding: 5px;}
body > div {margin: 0 auto;}
#footer {margin: 0 auto;}
header {width: 520px;}

/* ОБЩИЕ КЛАССЫ */
.fullbox {width: 480px; float: none; margin: 10px auto;}
.input {text-align: center; border: 1px solid white; background: #BFB04D; color: black; font-size: 12px;}
.big-img {max-width: 460px;}

/* КНОПКИ КОНТАКТОВ */
#left-links {left: 0;}
#right-links {right: 0;}

/* ГЛАВНЫЕ ЭЛЕМЕНТЫ */
#main {width: 500px;}

/* ВЕРХНЕЕ МЕНЮ */
#top-menu {width: 500px;}

/* БОКОВОЕ МЕНЮ */
#left-side {width: 300px; float: none; margin: 10px auto; background: black;}
.side-title, #login-from {width: 35%;}
.ul-menu {text-align: center;}

/* КОММЕНТАРИИ */
.comment pre, .comment blockquote {width: 380px !important;}
.comtext {width: 480px; float: none; margin: 5px auto;}
.comright {width: 160px; float: none; margin: 15px auto;}
.cominfo, .combuttons {width: 150px;}
#comedit {width: 460px; height: 200px;}

/* РЕГИСТРАЦИЯ И ВОССТАНОВЛЕНИЯ ПАРОЛЯ */
.row {display: block; width: 480px;}
#rulbox {width: 90%; height: 90%; top: 4%;}
